<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta name="renderer" content="webkit|ie-comp|ie-stand">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
        <meta http-equiv="Cache-Control" content="no-siteapp" />

        <meta name="keywords" content="拆迁还建后台管理系统">
        <meta name="description" content="拆迁还建后台管理系统">

        <script type="text/javascript" src="/common/js/common/jquery.min.js"></script>
        <!--=== 网站图标 ICO ===-->
        <link rel="Bookmark" href="/common/images/favicon.ico">
        <link rel="Shortcut Icon" href="/common/images/favicon.ico"/>

        <!--=== 网站模板 CSS ===-->
        <link rel="stylesheet" type="text/css" href="/common/css/H-ui.min.css"/>
        <link rel="stylesheet" type="text/css" href="/common/css/H-ui.admin.css"/>
        <link rel="stylesheet" type="text/css" href="/common/css/H-ui.login.css"/>
        <link rel="stylesheet" type="text/css" href="/common/css/iconfont.css"/>
        <link rel="stylesheet" type="text/css" href="/common/css/webuploader.css"/>
        <link rel="stylesheet" type="text/css" href="/common/css/upload.css"/>
        <!--[if IE 6]>-->
        <script type="text/javascript" src="/common/js/common/DD_belatedPNG_0.0.8a-min.js"></script>
        <script>DD_belatedPNG.fix('*');</script>
        <!--<![endif]-->

        <!--[if lt IE 9]>-->
        <script type="text/javascript" src="/common/js/common/html5shiv.js"></script>
        <script type="text/javascript" src="/common/js/common/respond.min.js"></script>
        <!--<![endif]-->
    </head>
<body>
{{#content}}
<script type="text/javascript" src="/common/js/common/layer.js"></script>
<script type="text/javascript" src="/common/js/common/H-ui.min.js"></script>
<script type="text/javascript" src="/common/js/common/H-ui.admin.js"></script>
<script type="text/javascript" src="/lib/template-native.js"></script>
<script src="/lib/utils.js"></script>
<script src="/common/js/upload.js"></script>
<script src="/common/js/webuploader.min.js"></script>
</body>
</html>