<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>公告列表</title>
    <meta name="keywords" content="拆迁还建后台管理系统">
    <meta name="description" content="拆迁还建后台管理系统">

    <!--=== 网站图标 ICO ===-->
    <link rel="Bookmark" href="../images/favicon.ico">
    <link rel="Shortcut Icon" href="../images/favicon.ico"/>

    <!--=== 网站模板 CSS ===-->
    <link rel="stylesheet" type="text/css" href="../css/H-ui.min.css"/>
    <link rel="stylesheet" type="text/css" href="../css/H-ui.admin.css"/>
    <link rel="stylesheet" type="text/css" href="../css/iconfont.css"/>

    <!--[if IE 6]>-->
    <script type="text/javascript" src="../js/common/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <!--<![endif]-->

    <!--[if lt IE 9]>-->
    <script type="text/javascript" src="../js/common/html5shiv.js"></script>
    <script type="text/javascript" src="../js/common/respond.min.js"></script>
    <!--<![endif]-->

    <!--公告列表(用户)-->
    <style>
        .affiche-tab .title {
            font-weight: 600;
            color: #000;
            font-size: 18px;
        }

        .affiche-tab span {
            font-weight: 600;
            color: #232222;
            font-size: 14px;
        }

        .affiche-tab p {
            margin-bottom: 0;
            font-size: 12px;
            font-weight: 600;
            color: #383833;
        }

        .affiche-tab p>span {
            color: #3a3838;
            padding-left: 1rem;
            font-weight: 500;
            font-size: 12px;
        }

        .affiche-tab tbody tr td {
            line-height: 2;
        }
    </style>

</head>
<body>
<!--=== 当前位置 开始 ===-->
<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i>
    首页
    <span class="c-gray en">&gt;</span>
    项目列表
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" >
        <i class="Hui-iconfont">&#xe68f;</i>
    </a>
</nav>
<!--=== 当前位置 结束 ===-->

<div class="page-container">
    <!--=== 列表 开始 ===-->
    <div class="mt-20">
        <table class="table table-border affiche-tab">
            <thead>
                <tr class="text-c">
                    <th scope="col" colspan="12" class="title">公告列表</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-c">
                    <td width="200">2017-08-20 09:10:23</td>
                    <td colspan="4" class="text-l">
                        <span>成都旧站拆迁公告成都旧站拆迁公告成都旧站拆迁公告成都旧站拆迁</span>
                    </td>
                    <td colspan="2" class="text-l">
                        <p>所属项目:<span>成都旧站拆迁项目</span></p>
                    </td>
                    <td width="200">
                        <a>查看公告附件</a>
                    </td>
                </tr>
                <tr class="text-c">
                    <td width="200">2017-08-24 20:10:01</td>
                    <td colspan="4" class="text-l">
                        <span>成都旧站拆迁公告成都旧站拆迁公告成都旧站拆迁公告成都旧站拆迁</span>
                    </td>
                    <td colspan="2" class="text-l">
                        <p>所属项目:<span>成都旧站拆迁项目</span></p>
                    </td>
                    <td width="200">
                        <a>查看公告附件</a>
                    </td>
                </tr>
                <tr class="text-c">
                    <td width="200">2017-08-30 12:00:00</td>
                    <td colspan="4" class="text-l">
                        <span>成都旧站拆迁公告成都旧站拆迁公告成都旧站拆迁公告成都旧站拆迁</span>
                    </td>
                    <td colspan="2" class="text-l">
                        <p>所属项目:<span>成都旧站拆迁项目</span></p>
                    </td>
                    <td width="200">
                        <a>查看公告附件</a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    <!--=== 列表 结束 ===-->
</div>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="../js/common/jquery.min.js"></script>
<script type="text/javascript" src="../js/common/layer.js"></script>
<script type="text/javascript" src="../js/common/H-ui.min.js"></script>
<script type="text/javascript" src="../js/common/H-ui.admin.js"></script>
<!--/_footer 作为公共模版分离出去-->

</body>
</html>